<div class="container">
  <div class="background-container">
    <img src="../assets/background.png" class="image-background">
  </div>
  <div class="form-container">
    <h1>Seja bem vindo! Faça Login para continuar</h1>
    <form>
      <div class="sub-container-label-input">
        <label>Email</label>
        <input [(ngModel)]="usuario.email" name="email" type="text"/>
      </div>
      <div class="sub-container-label-input">
        <label>Senha</label>
        <input [(ngModel)]="usuario.senha" name="senha" type="text"/>
      </div>
      <p *ngIf='mensagemBoolean == true' class="alert-login-sucess">{{ mensagem }}</p>

      <!-- <p>Novo(a) por aqui?</p> -->
      <div class="sub-container-form-buttons">
        <button class="button-cadastro">Cadastre-se</button>
        <button class="button-login" (click)="handleSubmit()">Login</button>
      </div>
    </form>
  </div>
</div>
