<div class="container">
  <div class="background-container">
    <img src="../assets/background.png" class="image-background">
  </div>
  <div class="form-container" *ngIf='cadastrar == false; else elseBlock'>
    <h1>Seja bem vindo! Faça Login para continuar</h1>
    <form>
      <div class="sub-container-label-input">
        <label>Email</label>
        <input [(ngModel)]="usuario.email" name="email" matInput type="email" placeholder="Digite o seu e-mail"/>
      </div>
      <div class="sub-container-label-input">
        <label>Senha</label>
        <input [(ngModel)]="usuario.senha" name="senha" matInput type="password" placeholder="Digite a sua senha"/>
      </div>
      <p *ngIf='mensagemBoolean == true' class="alert-login-sucess">{{ mensagem }}</p>
      <!-- <p>Novo(a) por aqui?</p> -->
      <div class="sub-container-form-buttons">
        <button class="button-cadastro"(click)="showSignUpForm()">Cadastre-se</button>
        <button class="button-login" (click)="handleSubmit()">Login</button>
      </div>
    </form>
  </div>
  <ng-template #elseBlock>
    <div class="form-container">
      <h1>Preencha os Campos abaixo e torne-se um Bankmer!</h1>
      <form onsubmit="handleSubmit()">
        <div class="sub-container-label-input">
          <label>Nome Completo</label>
          <input [(ngModel)]="cadastro.name" name="nome" matInput type="text" placeholder="Nome e Sobrenome"/>
        </div>
        <div class="sub-container-label-input">
          <label>Email</label>
          <input [(ngModel)]="cadastro.email" name="email" matInput type="email" placeholder="exemplo@email.com" [imask]="emailMask"/>
        </div>
        <div class="sub-container-label-input">
          <label>Telefone</label>
          <input [(ngModel)]="cadastro.telefone" name="telefone" matInput type="tel" placeholder="(DDD)999999999" [imask]="phoneMask"/>
        </div>
        <div class="sub-container-label-input">
          <label>Senha</label>
          <input [(ngModel)]="cadastro.senha" name="senha" matInput type="text" placeholder="Lembre-se de usar uma senha forte"/>
        </div>
        <!-- <p>Novo(a) por aqui?</p> -->
        <div class="sub-container-form-buttons">
          <button class="button-login" (click)="showLoginForm()">Voltar para o Login</button>
          <button class="button-cadastro"(click)="handleSignUp()" type="submit">Efetuar Cadastro</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
