<div class="container">
  <div class="background-container">
    <img src="../assets/background.png" class="image-background">
  </div>
  <div class="form-container" *ngIf='cadastrar == false; else elseBlock'>
    <h1>Seja bem vindo! Faça Login para continuar</h1>
    <form>
      <div class="sub-container-label-input">
        <label>Email</label>
        <input [(ngModel)]="usuario.email" name="email" type="text"/>
      </div>
      <div class="sub-container-label-input">
        <label>Senha</label>
        <input [(ngModel)]="usuario.senha" name="senha" type="text"/>
      </div>
      <p *ngIf='mensagemBoolean == true' class="alert-login-sucess">{{ mensagem }}</p>
      <!-- <p>Novo(a) por aqui?</p> -->
      <div class="sub-container-form-buttons">
        <button class="button-cadastro"(click)="showSignUpForm()">Cadastre-se</button>
        <button class="button-login" (click)="handleSubmit()">Login</button>
      </div>
    </form>
  </div>
  <ng-template #elseBlock>
    <div class="form-container">
      <h1>Preencha os Campos abaixo e torne-se um Bankmer!</h1>
      <form onsubmit="handleSubmit()">
        <div class="sub-container-label-input">
          <label>Nome Completo</label>
          <input [(ngModel)]="cadastro.nome" name="email" type="text"/>
        </div>
        <div class="sub-container-label-input">
          <label>Email</label>
          <input [(ngModel)]="cadastro.email" name="senha" type="text"/>
        </div>
        <div class="sub-container-label-input">
          <label>Telefone</label>
          <input [(ngModel)]="cadastro.telefone" name="cpf" type="number"/>
        </div>
        <div class="sub-container-label-input">
          <label>Senha</label>
          <input [(ngModel)]="cadastro.senha" name="senha" type="text"/>
        </div>
        <!-- <p>Novo(a) por aqui?</p> -->
        <div class="sub-container-form-buttons">
          <button class="button-login" (click)="showLoginForm()">Voltar para o Login</button>
          <button class="button-cadastro"(click)="handleSignUp()" type="submit">Efetuar Cadastro</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
