<div class="container">
  <div class="background-container">
    <img src="../assets/background.png" class="image-background">
  </div>
  <div class="form-container">
    <h1>Seja bem vindo! Faça Login para continuar</h1>
    <form>
      <div class="sub-container-label-input">
        <label>Email</label>
        <input/>
      </div>
      <div class="sub-container-label-input">
        <label>Senha</label>
        <input/>
      </div>
      <!-- <p>Novo(a) por aqui?</p> -->
      <div class="sub-container-form-buttons">
        <button class="button-cadastro" type="submit">Cadastre-se</button>
        <button class="button-login" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
