<!-- Build Table with Angular Material -->
<div class="container">
  <div class="container-icon">
    <p>SAIR</p>
    <button class="button-delete-icon" (click)="handleExit()">
      <mat-icon color="primary" class="exit-icon">exit_to_app</mat-icon>
    </button>
  </div>
  <h1>Dashboard Bankmers</h1>
  <p>A primeira fintech que cria e opera mini bancos!</p>
  <!-- <button mat-raised-button color="primary">Primary</button> -->
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element"> 
        <!-- <mat-icon color="primary" (click)="">edit</mat-icon> -->
        <button class="button-delete-icon" (click)="deleteBankMer(element.id)">
          <mat-icon color="primary" class="delete-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <div class="form-container">
  <h1>Preencha os Campos abaixo e torne-se um Bankmer!</h1>
  <form>
    <div class="sub-container-label-input">
      <label>Nome Completo</label>
      <input [(ngModel)]="bankMer.nome" name="email" type="text"/>
    </div>
    <div class="sub-container-label-input">
      <label>Email</label>
      <input [(ngModel)]="bankMer.email" name="senha" type="text"/>
    </div>
    <div class="sub-container-label-input">
      <label>CPF</label>
      <input [(ngModel)]="bankMer.telefone" name="cpf" type="number"/>
    </div>
    <div class="sub-container-label-input">
      <label>Senha</label>
      <input [(ngModel)]="bankMer.senha" name="senha" type="text"/>
    </div>
    <div class="sub-container-form-buttons">
      <button class="button-login">Voltar para o Login</button>
      <button class="button-cadastro"(click)="deleteBankMer()">Apagar o Bankmer</button>
    </div>
  </form>
</div> -->